<!DOCTYPE html>
<html>
    <head>
        <title>C8etaclol blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">C8etaclol Blog</a></h1>
        </header>

        <article>
            <time>published: 11/22/2024, 12:14</time>
            <h2><a href="">Post number 1</a></h2>
            <p>This marks the beginning of an exciting journey where I’ll be sharing my thoughts, experiences, and creative ideas.</p>
        </article>

        <article>
            <time>published: 11/22/2024, 16:40</time>
            <h2><a href="">Post number 2</a></h2>
            <p>I’ll be covering topics such as programming tips, interesting projects I’m working on, and reflections on my learning process.</p>
        </article>
    </body>
</html>